.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 50px;
    margin: 50px;
}

.value-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 50px;
    margin: 50px;
    text-align: center;


}

h3 {
    margin-bottom: 0px;
    color: #3f51b5;
    font-weight: bold;
}

.header {
    padding-top: 32px;
    margin-bottom: 32px;
}

@media only screen and (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
        margin: 25px;
    }

    .value-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
        margin: 25px;
    }
}

@media only screen and (max-width: 425px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}