<section>
    <h1 class="mat-display-2 header">Welcome to Fight Site</h1>
    <h2>Why Fight Site?</h2>
    <div class="card-grid">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-icon color="accent" mat-card-avatar>calendar_today</mat-icon>
                <mat-card-title>Up to Date</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Here at Fight Site we strive to keep you up to date with the current year's fights, statistics and
                    fighter statistics.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-icon color="accent" mat-card-avatar>attach_money</mat-icon>
                <mat-card-title>Free</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Built for, and by, fans of the UFC.
                    Completely free of use with no charges to our site.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-icon color="accent" mat-card-avatar>calendar_today</mat-icon>
                <mat-card-title>Always up to date</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit scelerisque lacinia. Quisque
                    ipsum mi, porta vitae sagittis bibendum, rutrum at nisi. Aliquam finibus consequat justo, non
                    viverra purus interdum eget. Nulla porttitor mollis molestie. Donec commodo libero a varius
                    imperdiet. Phasellus eu pulvinar eros.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="value-grid">
        <div>
            <h3 class="mat-display-2">1000s</h3>
            <span>of Fighters</span>
        </div>
        <div>
            <h3 class="mat-display-2">Zero</h3>
            <span>Cost</span>
        </div>
        <div>
            <h3 class="mat-display-2">100s</h3>
            <span>of Fights</span>
        </div>
        <div>
            <h3 class="mat-display-2">Lots</h3>
            <span>of Stats</span>
        </div>
    </div>
</section>>