<mat-toolbar color="primary">
  <span>Fight Site</span>
  <span class="example-spacer"></span>
  <button routerLink="" mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </button>
  <button routerLink="feature" mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>schedule</mat-icon>
  </button>
  <button routerLink="fighters" mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>sports_kabaddi</mat-icon>
  </button>
  <button routerLink="feedback" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>feedback</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>