<mat-toolbar color="primary" style='background-color: #080808;'>


  <img class="site-logo" src="assets/images/fightsite-logo-new_1.svg">
  <p style="margin-left: 30px; margin-top: 20px;font-size: xx-small;color: rgba(226, 32, 32, 0.753);">©UFC Fight Site
    2022</p>
  <!-- <span>Fight Site</span> -->
  <span class="example-spacer"></span>
  <button routerLink="" mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </button>
  <button routerLink="feature" mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>schedule</mat-icon>
  </button>
  <button routerLink="fighters" mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>sports_kabaddi</mat-icon>
  </button>
  <button routerLink="feedback" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>feedback</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>