<section>
    <div class="feedback-grid">
        <h1 class="header">Liked the reminder?<br><br> Leave your
            feedback
            here</h1>
        <mat-form-field appearance="outline">
            <mat-label>Leave some feedback</mat-label>
            <textarea matInput [formControl]="feedback"></textarea>
            <mat-error> Feedback Input Required </mat-error>
            <!-- //indien error with FormC -->
        </mat-form-field>

        <button (click)="submitFeedback()" [disabled]="!feedback.valid" class="submit-button" mat-raised-button
            color="primary">Submit</button>
        <!-- trigger die knoppie vir die formcontrol method -->
        <!-- !if not valid, disable button. daar sal altyd valid data moet wees. -->
    </div>
</section>