<section>
    <div class="feedback-grid">
        <h1 class="header">Feedback</h1>
        <mat-form-field appearance="outline">
            <mat-label>Leave some feedback</mat-label>
            <textarea matInput
                placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit scelerisque lacinia. Quisque ipsum mi, porta vitae sagittis bibendum, rutrum at nisi. Aliquam finibus consequat justo, non viverra purus interdum eget. Nulla porttitor mollis molestie. Donec commodo libero a varius imperdiet. Phasellus eu pulvinar eros."></textarea>
        </mat-form-field>
        <button class="submit-button" mat-raised-button color="primary">Submit</button>
    </div>
</section>
