.event-page {

    background-image: linear-gradient(to bottom, rgb(246, 246, 246), rgba(54, 54, 54, 0.726), rgba(54, 54, 54, 0.781)) !important;
}

.title-card {
    margin-bottom: 50px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(224, 222, 222), rgba(202, 202, 202, 0.781)) !important;
}

mat-card {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(224, 222, 222)) !important;
}

a {
    align-self: center;
    text-align: center !important;
}

h2 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
    font-family: 'Black Ops One';
    color: rgb(29, 29, 29) !important;
    letter-spacing: 2px;
}

.header-1 {
    font-family: 'Black Ops One';
    color: rgb(172, 30, 30);
    letter-spacing: 2px;
    font-size: 27px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 50px;

    margin: 0px 50px 50px 50px;
}

@media only screen and (max-width: 768px) {
    .event-page {
        margin: 25px;
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 25px;
        margin: 0px 0px 25px 0px;
    }
}

@media only screen and (max-width: 425px) {}